/* Navigation.css */

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #008CBA; /* 배경색 변경 */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  /* z-index: 1000; */
}

.nav-container .left-content {
  color: white;
  margin-left: 10px;
  cursor: pointer; /* 마우스 커서 변경 */
}

.nav-container .left-content span {
  font-weight: bold; /* 글자 두껍게 */
}

.nav-container .right-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-container .right-content ul li {
  margin-left: 20px; /* 간격 조정 */
}

.nav-container .right-content span {
  color: white;
  font-weight: bold;
}

.nav-container .right-content button {
  font-weight: bold;
  color: #008CBA; /* 버튼 색상 변경 */
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 15px;
  margin-right: 25px;
  transition: background-color 0.3s, color 0.3s; /* 변화 부드럽게 */
}

.nav-container .right-content button:hover {
  background-color: #005f6b; /* 호버 시 색상 변경 */
  color: white;
}
