/* Navigation.css */

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #80F;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-container .left-content {
    color: white; /* 텍스트를 하얀색으로 설정 */
    margin-left: 10px; /* 왼쪽 여백 추가 */
  }
  
  .nav-container .right-content {
    text-align: right;
  }
  
  .nav-container .right-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-container .right-content ul li {
    margin-left: 5px;
  }
  
  .nav-container .right-content ul li:first-child {
    margin-left: 5px;
  }
  
  .nav-container .right-content span {
    color: white;
  }
  
  .nav-container .right-content button {
    font-weight: bolder;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto; /* 로그아웃 버튼을 오른쪽으로 이동 */
    margin-right: 20px; /* 오른쪽 여백 추가 */
  }
  